*.json
*.txt
*.py
*.jar
*.zip

target/*
./target
./out

.idea/modules.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
/dependency-reduced-pom.xml
/.idea/artifacts/TheKnifeProject_jar.xml
